<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Cary Anderson</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <div class="main">

    <header>
      <h1>Cary Anderson</h1>
      <h2>My life, and Software</h2>
    </header>

    <div class="wrapper">

          {{ content }}

          </div><!-- .wrapper -->

  </div><!-- .main -->

  <footer>

    <div class="wrapper">

      <h2>About Me</h2>
      <p>
        Hi! My name is Cary Anderson and I’m an aspiring developer in Southern California.
        <p>
          I have experience with Android programming, desktop application programming with QT and wxWidgets. I have worked with sockets in Python and Ruby, (though I am no longer fluent in the latter) and I have a very good understanding of how the Internet protocol suite works. Django is the newest skill I've been developing lately, posts are likely to reflect this.
        </p>
        <p>
          I am a firm believer that FOSS is the best thing to ever happen to technology and that it should always be used over proprietary software.
        </p>
        This site is my blog, a place to host my resume, and a method to provide ways for getting in touch with me. I'm always looking for awesome projects, either to contribute to or to start.
        
        Thanks for the visit.
      </p>

      <div class="copyright">&copy; Cary Anderson 2014</div>

    </div><!-- .wrapper -->

  </footer>

</body>
</html>