<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Cary Anderson</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <div class="main">

    <header>
      <h1>Cary Anderson</h1>
      <h2>Slogan or something goes here</h2>
    </header>

    <div class="wrapper">

          {{ content }}

          </div><!-- .wrapper -->

  </div><!-- .main -->

  <footer>

    <div class="wrapper">

      <h2>About Me</h2>
      <p>
        Hi! My name is Cary Anderson and I’m an aspiring programmer (code ninja) in Southern California.

        I have experience with Android programming, desktop application programming with QT and wxWidgets. I have worked with sockets in Python and Ruby, (though I am no longer fluent in the latter) and I have a very good understanding of how the Internet protocol suite works. Lately I have been getting more and more into Android game programming, so many posts are likely to concern that.

        I am a firm believer that FOSS is the best thing to ever happen to technology and that it should always be used over proprietary software.

        This is my blog where I like to put blog-like things, and express half-baked ideas in a “bloggy” sort of way. I hope that the things I put here can be helpful, interesting, or entertaining…

        Thanks for the visit.
      </p>

      <div class="copyright">&copy; Cary Anderson 2014</div>

    </div><!-- .wrapper -->

  </footer>

</body>
</html>